version: "3.8"

services:
  web:
    env_file:
      - .env.development
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ./django:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"