<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FEFU Lab{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fefu_lab/css/style.css' %}">
</head>
<body>
    <div class="header">
        <div class="navigation">
            <a href="/">Главная</a>
            <a href="/about/">About</a>
            <a href="/feedback/">Feedback</a> | 
            <a href="/register/">Register</a> |
            <a href="/login/">Login</a> |
            <a href="/student/1/">Students</a> |
            <a href="/course/python-basic/">Course Python</a>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>